.container {
  padding: .3em;
}

.list {
  width: 100%;
}

.grid {
  width: 25%;
}

@media screen and (max-width: 960px) {
  .container {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .container {
    width: 100%;
  }
}

.article {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 5px 0px rgba(92, 90, 90, 0.53);
  transition: transform 300ms ease-in;
}

.article:hover {
  transform: scale(1.025);
}

.thumbnails {
  width: 45%;
  height: 100%;
}

.info {
  margin-left: .5em;
}

.title {
  font-weight: bold;
}

.channel {
  font-size: .8rem;
}
