.app {
  max-width: 110rem;
}

.contents {
  display: flex;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}

@media screen and (max-width: 60rem) {
  .contents {
    flex-direction: column;
  }
}